.Results {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding-top: 1rem;
    background-color: #32CD32;
    box-shadow: 1px 1px 2px 3px #fbff00;
    
  }

  h2{
    display: flex;
    align-self: self-start;
    color:black;
    font-weight: bold;
    font-size: larger;
    padding-left: 1rem;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }