.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 1rem 1rem;
    background-color: #32CD32;
    box-shadow: 1px 1px 2px 3px #fbff00;
  }

.Playlist h2{
  display: flex;
  align-self: self-start;
  color:black;
  font-weight: bold;
  font-size: larger;
  
}
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: black;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: rgb(27, 26, 26);
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #32CD32;
    font-weight: 500;
    box-shadow: .2px .2px .2px 1px #fbff00;
  }
  
  .Playlist-save:hover {
    background-color: rgb(101, 252, 101);
    
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      align-items: center;
      flex-direction: column;
      width : 100%
    }
  }